# This is for the nalyze api on heroku
-f https://download.pytorch.org/whl/torch_stable.html
transformers==4.6.1
Flask==2.0.1
sentencepiece==0.1.95
torch==1.8.1+cpu
torchvision==0.9.1+cpu
torchaudio==0.8.1